@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
        scroll-behavior: smooth;
        scrollbar-color: #a31212;    
    }

    .scrollbar-thumb-transparent {
        scrollbar-color: transparent
    }

    .scrollbar-thumb-transparent::-webkit-scrollbar {
        
    }

    .scrollbar-thumb-transparent::-webkit-scrollbar-thumb {
        background-color: rgba(163, 18, 18, 0.5);
        border-radius: 100px;
    }

    .scrollbar-thumb-transparent::-webkit-scrollbar-track {
        background-color: rgba(185, 13, 13, 0.2);
    }
}