@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
        scroll-behavior: smooth;
        scrollbar-color: #a31212;    
    }

    .scrollbar-thumb-transparent {
        scrollbar-color: transparent
    }




    .scrollbar-thumb-transparent::-webkit-scrollbar-track {
        background-color: rgba(185, 13, 13, 0.2);
    }
}