@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
    }

    .scrollbar-thumb-transparent {
        scrollbar-color:  rgba(185, 13, 13, 0.2);
    }

    .scrollbar-thumb-transparent::-webkit-scrollbar {
        width: 18px;

    }

    .scrollbar-thumb-transparent::-webkit-scrollbar-thumb {
        border-radius: 50%;
    }

    .scrollbar-thumb-transparent::-webkit-scrollbar-track {
        background-color: rgba(185, 13, 13, 0.2);
    }
}